<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wannabees.krestronic">
    <uses-permission android:name="android.permission.INTERNET"/>
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="AA_DB_NAME"
            android:value="RestClient.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />

        <meta-data
            android:name="AA_MODELS"
            android:value=".AddressComponentsItem,.Close,.Geometry,.Location,.Northeast,.Open,.OpeningHours,.PeriodsItem,.Result,.Southwest,.Viewport,.WannaBeesDetail" />







        <provider
            android:name="com.activeandroid.content.ContentProvider"
            android:authorities="com.wannabees.krestronic"
            android:enabled="true"
            android:exported="false">
        </provider>

        <activity android:name=".ui.activity.mainactivity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>



    </application>

        <uses-feature
            android:glEsVersion="0x0020000"
            android:required="true"/>


</manifest>